[gd_resource type="NativeScript" load_steps=2 format=2]

[ext_resource path="res://addons/dolly-gd/dolly-gd.gdnlib" type="GDNativeLibrary" id=1]

[resource]
resource_name = "{{ name }}"
class_name = "{{ name }}"
library = ExtResource( 1 )
script_class_name = "{{ name }}"
script_class_icon_path = "res://addons/dolly-gd/icons/Object.svg"
